* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: green;
}
h1:hover {
    box-shadow: 0px 0px 30px rgb(7, 228, 47);
    background-color: rgba(7, 228, 47, 0.31);
}